header {
  background-color: #110e12;
  box-shadow:0 3px 6px #7A7A7A;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  width: 100%;
}

header h2 {
  margin: 35px 0 0 80px;
}

.logout-btn {
  margin: 30px 70px;
  height: 40px;
  width: 100px;
}