.movie-card {
  background-color: #d6dfe8;
  color: #0d0b0f;
  height: 375px;
  margin: 150px 0;
  text-align: center;
  width: 400px;
}

.movie-card h2 {
  background-color: #3b74b0;
  margin-top: 0;
  padding: 15px;
}

.movie-card h4 {
  color: #373338;
}

.characters-btn {
  margin-top: 150px;
}