.modal {
  align-items: center;
  border: 1px gray solid;
  border-radius: 5px;
  display: flex;
  font-family: Helvetica;
  height: 400px;
  justify-content: center;
  margin: 10% auto;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

form input, form select, form button {
  border-radius: 5px;
  height: 30px;
  margin: 5px 0 1px 0;
  padding: 0 5px;
}

form button {
  cursor: pointer;
  font-family: Helvetica;
  font-size: 1rem;
  margin-top: 10px;
}

label, h3 {
  margin-top: 15px;
  text-align: left;
}

.error-message {
  color: #cc0000;
  height: 10px;
  text-align: left;
}

.error-message p {
  margin: 0;
}